@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align:center">Hola, Mundo!</h1>

<p style="text-align:center; margin-top: 54px; font-size: 23px">Esta plantilla ahora cuenta con una lista para agregar y eliminar vehiculos.</p>

<p style="text-align:center; margin-top: 23px; font-size: 23px">2022-1411</p>