@page "/lista"
@rendermode InteractiveServer

<div class="card" style="padding:20px; border-top: 15px solid DodgerBlue; box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);">
    <h3 class="card-title" style="text-align:center; margin-bottom: 53px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lista de vehiculos</h3>
<div style="display:flex; flex-direction:row;">
    <div style="margin-right:10px;">
        <label for="" class=""><strong>Nombre del auto</strong></label>
        <select @bind="vehiculos.Nombre" class="form-select" style="width: 450px;">
             <option value="Hyundai Sonata SE">Hyundai Sonata SE</option>
             <option value="Lamborghini Urus">Lamborghini Urus</option>
             <option value="Toyota Supra Mk4">Toyota Supra Mk4</option>
             <option value="Camaro Zl1 1LE">Camaro Zl1 1LE</option>
             <option value="Kia Picanto Zenith">Kia Picanto Zenith</option>
             <option value="Ford Bronco Raptor">Ford Bronco Raptor</option>
             <option value="Mitsubishi Lancer Evo XI">Mitsubishi Lancer Evo XI</option>
             <option value="Tesla Model X">Tesla Model X</option>
        </select>
    </div>
    <div>
            <label for="" class=""><strong>Color del vehiculo</strong></label>
            <select @bind="vehiculos.Color" class="form-select" style=" width: 450px;">
                <option value="Rojo">Rojo</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Blanco">Blanco</option>
                <option value="Negro">Negro</option>
                <option value="Naranja">Naranja</option>
                <option value="Azul">Azul</option>
                <option value="Verde">Verde</option>
                <option value="Plateado">Plateado</option>
        </select>
    </div>

</div>
   <div style="text-align:center;"><button @onclick="agregar" class="btn btn-primary" style="margin-top: 37px; width:25%;">Agregar</button></div>
</div>

    @if (VehiculosList.Any()){
        <div class="card" style="padding:20px; border-top: 15px solid DodgerBlue; box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2); margin-top: 32px; text-align:center; display:flex; flex-direction:column; align-items:center; justify-content:center;">
        <label style="margin-bottom: 13px"><strong>Vehiculos seleccionados</strong></label>

                @foreach (var item in VehiculosList)
                {
                <div class="card" style="padding:15px; width:860px; height: 80px; margin-top: 4px; display:flex; flex-direction:row; justify-content:space-between;">
                <div style="margin-left:20px;">
                    <label for="" class=""><strong>Nombre</strong></label>
                    <p>@item.Nombre</p>
                </div>
                <div>
                    <label for="" class=""><strong>Color</strong></label>
                    <p>@item.Color</p>
                </div>
                <div>
                    <label for="" class=""><strong>Cuando fue agregado</strong></label>
                    <p>@DateTime.Today</p>
                </div>

                <button class="btn btn-danger" style="height:40px; width:35px; padding:5px; float:right;" @onclick="()=> Eliminar(item)">X</button>
                </div>
                }
    </div>
}

@code {
    public Vehiculo vehiculos { get; set; } = new Vehiculo();
    public List<Vehiculo> VehiculosList { get; set; } = [];

    void agregar()
    {
        VehiculosList.Add(new Vehiculo
        {
        Nombre = vehiculos.Nombre,
        Color = vehiculos.Color,
        FechaAgregado = DateTime.Now,
    });

        vehiculos = new Vehiculo();
    }

    private void Eliminar(Vehiculo item)
    {
        if (item != null)
        {
            VehiculosList.Remove(item);
        }
    }
}
